.card-info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    font-family: "Rajdhani", sans-serif;
    z-index: 99;
    transform: translateY(+50%);
}


.card-info-body .add,
.card-info-body .email,
.card-info-body .phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.card-info-body .add,
.card-info-body .email {
    border-right: 1px solid #fff;
}

.info-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px dashed var(--main-color);
    color: var(--main-color);
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;

    p {
        color: #fff;
        transition: 0.3s;
    }


    h4 {
        transition: 0.3s;
        color: #fff;
    }

    p:hover,
    h4:hover {
        color: var(--selected-color);
    }
}

/* Media */

@media (max-width: 992px) {

    .card-info-body {

        .add,
        .email {
            border: none;
        }
    }
}

@media (max-width: 768px) {

    .card-info-body {

        .add,
        .email {
            border: none;
        }
    }
}

@media (max-width: 576px) {

    .card-info-body {

        .add,
        .email {
            border: none;
        }
    }
}


@media (max-width: 450px) {
    .card-info-body {

        .add,
        .email {
            border: none;
        }
    }
}

@media (max-width: 350px) {
    .card-info-body {

        .add,
        .email {
            border: none;
        }
    }
}